
@import './base.less';

// 导航
nav {
    padding: 10px;
    
    img {
        width: 100%;
    }
}
//广告
#banner {
    // border: 1px solid #999;
    padding: 0 10px;
    img {
        width: 100%;
    }
}
//品牌
#brand {
    .title {
        width: 100%;
       
    }
    img {
        width: 100%
    }
}
//运动
#sport,#women,#man {
    .title {
        img {
            width: 100%;
        }
    }
    
}
